html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
table {
  height: 100%;
  width: 100%;
}
#blocklyArea {
  height: 100%;
  background: transparent;
}

#scene {
  opacity : 1;
  /* pointer-events: ; */
}



#blocklyDiv{
  background : transparent;
  pointer-events: none;
  opacity: 0.6;
}

.blocklyBlockCanvas, .blocklyBlockTrash, .blocklyToolboxDiv{
  pointer-events: auto;
}

